{% for relation in table.o2mRelations -%}
    {% set cr = c.hasMany[hasManyAlias(relation)] -%} {# Custom data of relation #}
    {{ modelName(table) }}.hasMany({{ modelName(relation.targetTable) }}, {
    {% if options.generateAliases -%}
        as        : {{ cr.as or (hasManyAlias(relation).val | quote) }},{% if cr.as -%} // as: "{{ hasManyAlias(relation) }}"{% endif %}
    {% endif -%}
    foreignKey: {{ cr.foreignKey or (relation.constraint.columns[0].name | quote) }}, {# Sequelize supports only single column FK :( #}
    onDelete  : {{ cr.onDelete or (relation.constraint.onDelete | quote) }},
    onUpdate  : {{ cr.onUpdate  or (relation.constraint.onUpdate | quote) }}
    });

{% endfor %}