{% set class = table.name | classCase -%}
{% set relComma = joiner() -%}
{% set idComma = joiner() -%}

{% macro columns(columns, noTableName) -%}
    {% set comma = joiner() -%}
    {% if columns.length == 1 -%}
        '{{ columnName(columns[0], noTableName) }}'
    {%- else -%}
        [{% for column in columns %}{{ comma() }} '{{ columnName(column, noTableName) }}'{% endfor %}]
    {%- endif -%}
{%- endmacro -%}

{% macro columnName(column, noTableName) -%}
    {%- if noTableName -%}
        {{ column.name }}
    {%- else -%}
        {{ column.table.name }}.{{ column.name }}
    {%- endif -%}
{%- endmacro -%}

{% macro file(table) -%}
    path.join(__dirname, {{ table.name | dashCase | singleQuote }} )
{%- endmacro -%}

const { Model } = require('../../model');
const Joi = require('joi');

/* eslint-disable require-jsdoc, max-len */

/**
 * {{ table.schema.name }}.{{ table.name }}
{{ table.description | makeJsDoc }}
{{ pgen.tableJsDocSchema(table) -}}
 */
class {{ class }} extends Model {
  static get tableName() {
    return {{ table.name | singleQuote }};
  }

  static get idColumn() {
    return {{ columns(table.primaryKeyColumns.array, true)  }};
  }

  static get relationMappings() {
    return {
      {% for relation in table.o2mRelations.array -%}
        {{ relComma() }}{{ relation.generateName() | camelCase }}: {
            relation: Model.HasManyRelation,
            modelClass: {{ file(relation.targetTable) }},
            join: {
                from: {{ columns(table.primaryKeyColumns.array) }},
                to: {{ columns(relation.constraint.columns.array) }}
            }
        }
    {% endfor -%}
    {% for relation in table.m2oRelations.array -%}
        {{ relComma() }}{{ relation.generateName() | camelCase }}: {
            relation: Model.BelongsToOneRelation,
            modelClass: {{ file(relation.targetTable) }},
            join: {
                from: {{ columns(relation.constraint.columns.array) }},
                to: {{ columns(relation.constraint.referencedColumnsBy.array) }}
            }
        }
    {% endfor -%}
    {% for relation in table.m2mRelations.array -%}
        {{ relComma() }}{{ relation.generateName() | camelCase }}: {
            relation: Model.ManyToManyRelation,
            modelClass: {{ file(relation.targetTable) }},
            join: {
                from: {{ columns(table.primaryKeyColumns.array) }},
                through: {
                    modelClass: {{ file(relation.joinTable) }},
                    from: {{ columns(relation.sourceConstraint.columns.array) }},
                    to: {{ columns(relation.targetConstraint.columns.array) }}
                },
                to: {{ columns(relation.targetTable.primaryKeyColumns.array) }}
            }
        }
    {% endfor -%}
    }
  }


  static get joiSchema() {
    return Joi.object({
      {{ pgen.tableJoiSchema(table) | stringifyIfObject(raw = true) }}
    });
  }
}

module.exports = {{ class }};
