This is a nunjucks template file (see https://mozilla.github.io/nunjucks/).

This template is executed for each table. This one is for {{ table.name }} table. It is passed a table variable.
table variable is a pg-structure object. Documentation for pg-structure can be found on http://www.pg-structure.com

Below is messages from template's index.js.

{{ messageAll }}
{{ message }}

Below is an example of a loop for listing all columns of the table separated by comma. See if condition which checks
loop to prevent printing an extra comma for last column.

{% for column in table.columns.array %}
    {{ column.name }} is type of {{ column.type }}{% if not loop.last -%},{% endif -%}
{% endfor %}
